<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!--Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!--Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>Filmes - Butterfly Movies</title>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">Lista de Filmes</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn" href="/"><i class="material-icons">arrow_back</i></a></li>
					<li><a class="waves-effect waves-light btn" href="/filmes/cadastro"><i class="material-icons left">add_circle_outline</i>Cadastrar novo filme</a></li>					
				</ul>
			</div>
		</nav>
	</header>
	
<!-- 	<h3>Lista de filmes:</h3> -->
	
<!-- 	<a class="waves-effect waves-light btn" href="/"><i class="material-icons">arrow_back</i></a> -->
<!-- 	<a class="waves-effect waves-light btn" href="/filmes/cadastro"><i class="material-icons left">add_circle_outline</i>Cadastrar novo filme</a> -->
	
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Filme</th>
					<th>Gênero</th>
					<th>Diretor</th>
					<th>Quantidade</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each= "movie: ${movies}">
					<td><span th:text="${movie.name}"></span></td>
					<td><span th:text="${movie.genre}"></span></td>
					<td><span th:text="${movie.director}"></span></td>
					<td><span th:text="${movie.quantity}"></span></td>
				</tr>
			</tbody>	
		</table>
	</div>

	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

</body>
</html>
