<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!--Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!--Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>Usuários - ButterflyMovies</title>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">Usuários</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn" href="/"><i class="material-icons">arrow_back</i></a></li>
					<li><a class="waves-effect waves-light btn" href="/usuarios/cadastro"><i class="material-icons left">add_circle_outline</i>Novo Usuário</a></li>					
				</ul>
			</div>
		</nav>
	</header>
	
<!-- 	<h3>Usuários cadastrados:</h3>	 -->
<!-- 	<a class="waves-effect waves-light btn" href="/"><i class="material-icons">arrow_back</i></a> -->
<!-- 	<a class="waves-effect waves-light btn" href="/usuarios/cadastro"><i class="material-icons left">add_circle_outline</i>Novo Usuário</a> -->
	
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>cod.</th>
					<th>Nome</th>
					<th>Sexo</th>
					<th>CPF</th>
					<th>Data Nasc.</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each= "user:${users}">
					<td><span th:text="${user.cod}"></span></td>
					<td><span th:text="${user.name}"></span></td>				
					<td><span th:text="${user.gender}"></span></td>
					<td><span th:text="${user.cpf}"></span></td>
					<td><span th:text="${user.nascimento}"></span></td>
					<td><form th:method="delete" th:action="@{'/usuarios/{cod}'(cod=${user.cod})}">
						<button class="waves-effect waves-light btn" type="submit"><i class="material-icons">delete</i></button>
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>