<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!--Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!--Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>Locações - ButterflyMovies</title>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center">Locações</a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn" href="/"><i class="material-icons">arrow_back</i></a></li>
					<li><a class="waves-effect waves-light btn" href="/locacoes/nova"><i class="material-icons left">add_circle_outline</i>Registrar Locação</a></li>
					<li><a class="waves-effect waves-light btn" href="/locacoes/historico"><i class="material-icons left">history</i>Histórico de Locações</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<th:block th:include="/validationMsg"></th:block>
<!-- 	<h3>Locações realizadas:</h3>	 -->
<!-- 	<a class="waves-effect waves-light btn" href="/"><i class="material-icons">arrow_back</i></a> -->
<!-- 	<a class="waves-effect waves-light btn" href="/locacoes/nova"><i class="material-icons left">add_circle_outline</i>Registrar Locação</a> -->
	
	<div class="container">
		<table>
			<thead>
			<tr>
				<th>Locação</th>
				<th>Filme</th>
				<th>Usuário</th>
				<th>Início</th>
				<th>Devolução</th>
				<th>Excluir</th>
				<th>Renovar</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each= "rent:${rents}">
					<td><span th:text="${rent.cod}"></span></td>
					<td><span th:text="${rent.movie.name}"></span></td>
					<td><span th:text="${rent.user.name}"></span></td>
					<td><span th:text="${rent.start}"></span></td>
					<td><span th:text="${rent.devolution}"></span></td>
					<td><form th:method="delete" th:action="@{'/locacoes/{cod}'(cod=${rent.cod})}">
						<button class="waves-effect waves-light btn" type="submit"><i class="material-icons">delete</i></button>
						</form></td>
					<td><form th:method="put" th:action="@{'/locacoes/{cod}'(cod=${rent.cod})}">
						<div class="row">
							<input placeholder="" class="validate" type="date" id="newdev" name="devolution" value=""/>					
							<button class="waves-effect waves-light btn" type="submit"><i class="material-icons tiny">update</i></button>
						</div></form></td>
				</tr>		
			</tbody>	
		</table>
	</div>
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>